certifi==2021.10.8
click==7.1.2
cycler 
debugpy
decorator 
entrypoints
fastapi 
fonttools==4.25.0
h11 
jedi 
Jinja2==3.0.3
joblib
kiwisolver
munkres
nest-asyncio 
numexpr 
numpy 
packaging 
pandas
parso 
pexpect 
pickleshare 
Pillow
prompt-toolkit 
psutil 
ptyprocess 
pydantic 
Pygments 
pyparsing 
python-multipart
pyzmq 
regex 
scipy 
scikit-learn
six 
starlette 
threadpoolctl 
tornado
traitlets
typing_extensions 
uvicorn 
wcwidth 
